body {
	margin: 0;
	overflow-x: hidden;
	position: relative;
	background: #92d0ff;
}

#segment {
    width: 100vw;
    height: auto; 
    display: block;
}

.blank-block {
    height: 100vh;
    width: 100vw;
    background: transparent;
}

#train {
    position: absolute;
    left: 0;
    bottom: 5.5%;
    transition: left 10s;
    width: calc(1920px * 2);
    height: 200px;
    transition: left 10s ease-in-out;
}

#train.right {
    left: 200vw;
    transition: none;
}

#train.center {
    left: calc(25vw - 2880px);
    transition: left 10s ease-in-out;
}

#train.left {
    left: calc(-1920px * 4);
    transition: left 10s ease-in-out;
}